@import "Styles/_vars.scss";
@import "Styles/menu.scss";

GameMenu {
	position:       absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	pointer-events: none; // children opt-in with pointer-events: all
}
