@using Sandbox;
@using Sandbox.UI;
@using Player = global::Player;

<root class="padding-medium">
	<div class="Health Widget">
		<iconpanel>local_hospital</iconpanel>
		<label>
			@Player.FindLocalPlayer().Health
		</label>
	</div>
</root>

@code
{
	protected override int BuildHash() => System.HashCode.Combine(Player.FindLocalPlayer().Health);
}
