@using Sandbox;
@using Sandbox.UI;
@using Player = global::Player;

<root class="padding-medium">
	<div class="Health Widget">
		<iconpanel>favorite</iconpanel>
		<label>@Health.CeilToInt()</label>
	</div>

	@if ( ActiveWeapon is BaseWeapon weapon )
	{
		<div class="Ammo Widget">
			@if ( weapon.UsesClips )
			{
				<label class="clip">@weapon.ClipContents</label>
				<label class="divider"> / </label>
				<label class="reserve">@weapon.ReserveAmmo</label>
			}
			else if ( weapon.UsesAmmo )
			{
				<label class="clip">@weapon.ReserveAmmo</label>
			}
		</div>
	}
</root>

@code
{
	Player LocalPlayer => Player.FindLocalPlayer();
	float Health => LocalPlayer?.Health ?? 0;
	BaseCarryable ActiveWeapon => LocalPlayer?.GetComponent<PlayerInventory>()?.ActiveWeapon;

	protected override int BuildHash() => System.HashCode.Combine(
		Health,
		ActiveWeapon,
		(ActiveWeapon as BaseWeapon)?.ClipContents,
		(ActiveWeapon as BaseWeapon)?.ReserveAmmo
	);
}
